<%- include ('partials/header') %>

<p>Numéro utilisateur : <%=userData.id%></p>
<p>Nom : <%=userData.lastname%></p>
<p>Prénom : <%=userData.firstname%></p>
<p>Email : <%=userData.email%></p>
<p>Description : <%=userData.description%></p>
<p>Date de création du profil : <%=userData.createdAt%></p>






<%- include ('partials/footer') %>