<%- include ('partials/header') %>

<h1 class="titre">Utilisateur du site :</h1>

<p class="user">Numéro utilisateur : <%=userData.id%></p>
<p class="user">Nom : <%=userData.lastname%></p>
<p class="user">Prénom : <%=userData.firstname%></p>
<p class="user">Email : <%=userData.email%></p>
<p class="user">Description : <%=userData.description%></p>
<p class="user">Date de création du profil : <%=userData.createdAt%></p>






<%- include ('partials/footer') %>